# what to not commit: e.g. venv, output directory, pycache. Modify as you like.
mat-opt-venv 
output
__pycache__

# additional projects do not commit
nerfstudio
InverseTranslucent
nvdiffrec
tamashii
instant-ngp
MaterialOptimizerOverleaf
mitsuba-data
test.ipynb
*.zip
metashape
todo.md
mat-opt-mi-v302
