# test other versions if you like, i.e. user responsibility
mitsuba==3.2.1
PyQt6==6.4.0
PyQt6-Qt6==6.4.0
PyQt6-sip==13.4.0
autopep8==2.0.0
black==22.10.0
matplotlib==3.6.2
numpy==1.23.4
Pillow==9.3.0
scikit-image
